/* --- Title --- */
#div_add_element_title {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
}




/* --- Form --- */
form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 6rem auto 0 auto;
}

#div_form_main {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

form label {
    font-size: 1.2rem;
    margin-top: 3rem;
}

form label:nth-child(2) {
    margin: 0.5rem 0 0 4rem;
    text-align: left;
}

select {    
    width: 6rem;
    text-align: center;    
    background-color: white;
    border: none;
    text-align: center;
    margin: 0 auto;
    font-size: 1.3rem;
    padding: 1rem;
    border-bottom: 2px solid var(--contrast_100);
}

form label:nth-child(4) {    
    width: 70%;
    margin: 3rem auto 0 auto;
}

textarea {
    width: 90%;
    resize: none;
    font-size: 1.3rem;
    padding: 1rem;
    border: none;
    border-left: 2px solid var(--contrast_100);
    margin: 0 auto;
    overflow: auto;
}




/* --- Additional information --- */
#div_additional_information {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 1rem;
    width: 80%;
    margin: 3rem auto 0 auto;
}
    #div_additional_information label {
        padding-left: 3rem;
    }




/* --- Buttons --- */
#div_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 3rem auto 15rem auto;
    text-align: center;
}    

input {    
    width: 6rem;
    font-size: 1.3rem;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid var(--contrast_100);
    background-color: white;
    margin: 0 auto;
}
    input:hover {
        font-weight: bold;
        cursor: pointer;
    }

a {
    width: 6rem;
    font-size: 1.3rem;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid var(--contrast_100);
    background-color: white;
    margin: 0 auto;
    text-decoration: none;
    color: black;    
}
    a:hover {
        font-weight: bold;
        cursor: pointer;                
    }


