.title {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}




/* ----- Select ----- */
#div_select {    
    width: 70%;    
    margin: 0 auto 2rem auto;
    text-align: center;    
}

    #div_select select {
        width: 5rem;
        height: 3rem;
        font-size: 1.3rem;
        text-align: center;
        padding: 0.5rem;
        border: none;
        background-color: white;
        border-radius: 10%;
    }




/* ----- Name ----- */    
#div_element_name {
    display: grid;
    grid-template-columns: 1fr;    
    grid-auto-rows: auto;
    grid-row-gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 70%;
    margin: 2rem auto 2rem auto;        
}
    #div_element_name label {
        display: block;
        font-size: 1.3rem;
    }
        #div_element_name label span {
            visibility: hidden;
        }

    #div_element_name textarea {
        width: 45rem;
        height: 2rem;
        font-size: 1.3rem;
        padding: 1rem;
        border: none;
        border-radius: 2% 2% 0 0;
        border-left: 2px solid rgba(56, 142, 60, 1);
        background-color: rgba(56, 142, 60, 0.05);
    }
        #div_element_name textarea:focus {
            height: 6rem;
            border-radius: 2% 2% 2% 2%;
        }




/* ----- Comments ----- */    
#div_element_comments {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 70%;
    margin: 4rem auto 2rem auto;        
}
    #div_element_comments label {
        display: block;
        font-size: 1.3rem;
    }
        #div_element_comments label span {
            visibility: hidden;
        }

    #div_element_comments textarea {
        width: 45rem;
        height: 2rem;
        font-size: 1.3rem;
        padding: 1rem;
        border: none;
        border-radius: 0 2% 2% 0;
        border-left: 2px solid rgba(56, 142, 60, 1);
        background-color: rgba(56, 142, 60, 0.05);
    }
        #div_element_comments textarea:focus {
            height: 8rem;
            border-radius: 2% 2% 2% 2%;
        }
    



/* ----- Textarea processes elements ----- */    
#div_processes_label {
    display: grid;
    grid-template-columns: repeat(4, 1fr);        
    justify-items: center;
    align-items: center;
    width: 25%;
    margin: 4rem auto 1rem auto;        
}
    #div_processes_label label {
        font-size: 1.3rem;
    }

    #div_processes_label label:hover {
        cursor: pointer;
    }

    #div_processes_label label:nth-child(1) {            
        font-weight: bold;
    }

    #div_processes_label label:nth-child(4) {  
        visibility: hidden;
    }


#div_processes_textarea {
    display: grid;
    grid-template-columns: 1fr;    
    justify-items: center;
    align-items: center;
    width: 70%;
    margin: 1rem auto 2rem auto;        
}   
    #div_processes_textarea textarea {
        width: 55rem;
        height: 4rem;
        border: none;
        border-left: 2px solid rgba(56, 142, 60, 1);
        font-size: 1.3rem;
        border-radius: 0 2% 2% 0;
        padding: 1rem;
        background-color: rgba(56, 142, 60, 0.05);
        resize: none;        
    }
        #div_processes_textarea textarea:focus {     
            height: 40rem;             
            border-radius: 2% 2% 2% 2%;     
        }

        #div_processes_textarea textarea:nth-child(n+2) {            
            display: none;                  
        }




/* ----- Buttons ----- */        
#div_processes_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    justify-items: center;
    align-items: center;
    width: 20%;
    margin: 4rem auto 20rem auto;
}
    #div_processes_buttons a {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 7rem;
        height: 3rem;
        text-decoration: none;
        font-size: 1.3rem;
        text-align: center;
        border: none;
        background-color: rgba(56, 142, 60, 0.31);
        color: black;
        border-radius: 10%;
    }
        #div_processes_buttons a:hover {
            cursor: pointer;
            background-color: rgba(56, 142, 60, 0.5);
            font-weight: bold;
        }

    #div_processes_buttons input {
        width: 7rem;
        height: 3rem;
        text-align: center;
        font-size: 1.3rem;
        border: none;
        background-color: rgba(56, 142, 60, 0.3);
        color: black;
        border-radius: 10%;
    }
        #div_processes_buttons input:hover {
            cursor: pointer;
            background-color: rgba(56, 142, 60, 0.5);
            font-weight: bold;
        }







