/* --- Generics --- */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;}



/* --- Title --- */
#div_title {
    display: block;
    width: 70%;
    text-align: center;
    margin: 1rem auto 1rem auto;
}
    #div_title hr {
        border: 1.5px solid red;
        width: 50%;
        margin: 0 auto;
    }


/* --- Form --- */
form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 2rem;
    width: 50%;
    margin: 3rem auto 15rem auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    form label {
        font-size: 1.4rem;
    }

    form hr {
        border: 1px solid red;
        width: 30%;
        margin: 0 auto;
    }

#div_object {
    font-size: 1.6rem;
}

#div_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    margin: 2rem auto 0 auto;
}
    #div_buttons a, #div_buttons input {      
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;        
        border: none;
        background-color: white;
        text-decoration: none;
        color: black;
        text-align: center;
        width: 100%;
        height: 3rem;
    }
        #div_buttons a:hover, #div_buttons input:hover {
            font-weight: bold;
            cursor: pointer;
        }

        #div_buttons input:hover {
            font-size: 1.3rem;
            color: red;
        }
