<!-- --- Imports --- -->
{% load static %}


<!-- --- Html --- -->
<!DOCTYPE html>
<html lang="en">
    <!-- --- Head --- -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/add.css' %}">
        <link rel="stylesheet" href="{% static 'css/colors.css' %}">
        <title>Add {{singular}}</title>
    </head>


    <!-- --- Body --- -->
    <body>
        <!-- --- Messages --- -->
        {% if messages %}
            {% for message in messages %}
                <input hidden type="text" value="{{message}}" id="message">
            {% endfor %}
        {% else %}
            <input hidden type="text" value="" id="message">
        {% endif %}


        <!-- --- Page title --- -->
        <div id="div_add_element_title">
            <h1>{{action}} {{singular}}</h1>
            <input hidden type="text" value="{{action}}" id="input_action_hidden">
            <input hidden type="text" value="{{singular}}" id="input_singular_hidden">
        </div>                


        <!-- --- Form --- -->
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{form.element_type}}
            {{form.element_type.errors}}
                            
            <div id="div_form_main">
                <label>Letter</label>
                <label>Name</label>

                {{form.letter}}
                {{form.letter.errors}}

                {{form.name}}
                {{form.name.errors}}
            </div>

            {% if element == 'processes' %}
                <div id="div_additional_information">
                    <label for="{{form.definitions.id_for_label}}">Definitions</label>
                    {{form.definitions}}
                    {{form.definitions.errors}}

                    <label for="{{form.symptoms.id_for_label}}">Symptoms</label>
                    {{form.symptoms}}
                    {{form.symptoms.errors}}

                    <label for="{{form.questions.id_for_label}}">Questions</label>
                    {{form.questions}}
                    {{form.questions.errors}}

                    <label for="{{form.assess_one.id_for_label}}">Assess one</label>
                    {{form.assess_one}}
                    {{form.assess_one.errors}}

                    <label for="{{form.assess_two.id_for_label}}">Assess two</label>
                    {{form.assess_two}}
                    {{form.assess_two.errors}}

                    <label for="{{form.assess_three.id_for_label}}">Assess three</label>
                    {{form.assess_three}}
                    {{form.assess_three.errors}}

                    <label for="{{form.assess_four.id_for_label}}">Assess four</label>
                    {{form.assess_four}}
                    {{form.assess_four.errors}}

                    <label for="{{form.assess_five.id_for_label}}">Assess five</label>
                    {{form.assess_five}}
                    {{form.assess_five.errors}}
                </div>            
            {% endif %}
            
            <div id="div_buttons">
                <input type="submit" value="{{action}}">
                <a href="{% url 'elements:elements' element singular %}">Back</a>
            </div>                        
        </form>

        
        <!-- --- Scrips --- -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/add.js' %}"></script>
    </body>
</html>


