<!-- ----- Imports ----- -->
{% load static %}




<!-- ----- Html ----- -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="data:,">
		<link rel="stylesheet" href="{% static 'css/add_element.css' %}">
		<title>{{title}}</title>
	</head>




	<!-- ----- Body ----- -->
	<body>
		<div class="title">
			<h1>{{title|capfirst}}</h1>
		</div>
							
		<form action="{% url 'elements:add' element %}" method='POST'>
			{% csrf_token %}
			
			<input hidden name='element' type="text" value="{{element}}">

			<div id="div_select">
				<select name="select" id="">
					{% for letter in letters %}
						<option value="{{letter.id}}">{{letter.name}}</option>
					{% endfor %}
				</select>
			</div>
			
			<div id="div_element_name">
				<label for="element_name">Name&nbsp;&nbsp;<span id="name_span_counter"></span></label>				
				<textarea name="element_name" id="element_name" maxlength="215"></textarea>
			</div>

			<div id="div_element_comments">
				<label for="element_comments">Comments&nbsp;&nbsp;<span id="comments_span_counter"></label>
				<textarea name="element_comments" id="element_comments" maxlength="255"></textarea>
			</div>

			{% if element == 'processes' %}
				<div id="div_processes_label">
					<label class="label_element" data-element="definitions">Definitions</label>
					<label class="label_element" data-element="symptoms">Symptoms</label>
					<label class="label_element" data-element="questions">Questions</label>					
					<label id="extras_label_counter"></label>
				</div>
				
				<div id="div_processes_textarea">
					<textarea class='add_info' name="definitions" id="definitions" maxlength="3000"></textarea>
					<textarea class='add_info'  name="symptoms" id="symptoms" maxlength="3000"></textarea>
					<textarea class='add_info'  name="questions" id="questions" maxlength="3000"></textarea>
				</div>				
			{% endif %}

			<div id="div_processes_buttons">
				<a href="{% url 'elements:elements' element %}">Back</a>
				<input type="submit" value="Add" name="add">                    
			</div>                            
		</form>   
		
		


		<!-- ----- Scripts ----- -->
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/add_element.js' %}"></script>
		<script src="{% static 'js/element.js' %}"></script>
	</body>
</html>










