<div class="navbar">
    <a href="{% url 'evaluations:evaluations' %}">Evaluations</a>
    <a href="{% url 'companies:companies' %}">Companies</a>              

    {% if user.profile.type.type > 1 %}
        <div class="dropdown">
            <button class="dropbtn">
                Elements<i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-content">
            <a href="{% url 'relations:relations' %}">Relations tree</a>
            <a href="{% url 'elements:elements' element='competences' singular='competence' %}">Competences</a>
            <a href="{% url 'elements:elements' element='capabilities' singular='capability' %}">Capabilities</a>
            <a href="{% url 'elements:elements' element='processes' singular='process' %}">Processes</a>
            </div>      
        </div>    
    {% endif %}

    {% if user.profile.type.type > 2 %}
        <a href="{% url 'users:users' %}">Users</a>
        <a href="#">Administration</a>
    {% endif %}

    <a href="{% url 'logout' %}">Log out</a>
    <a class="last" href="{% url 'password_reset' %}">Reset Password</a>
</div>   












