{% if user.profile.type.type == 1 %}
   <div class="items_menu">
      <a href="{% url 'relations:relations' %}">Relations tree</a>              
      <a href="{% url 'evaluations:evaluations' %}">Evaluations</a>
      <a href="{% url 'companies:companies' %}">Companies</a>         
      <a class="last" href="{% url 'logout' %}">Log out</a>
      <a class="last" href="{% url 'password_reset' %}">Reset Password</a>
   </div>

{% elif user.profile.type == 2 %}
   <div class="items_menu">
      <a href="{% url 'relations:relations' %}">Relations tree</a>        
      <a href="{% url 'elements:elements' element='competences' %}">Competences</a>
      <a href="{% url 'elements:elements' element='capabilities' %}">Capabilities</a>                
      <a href="{% url 'elements:elements' element='processes' %}">Processes</a>
      <a href="{% url 'evaluations:evaluations' %}">Evaluations</a>
      <a href="{% url 'companies:companies' %}">Companies</a>         
      <a class="last" href="{% url 'logout' %}">Log out</a>
      <a class="last" href="{% url 'password_reset' %}">Reset Password</a>
   </div>
{% else %}

   <div class="items_menu">
      <a href="{% url 'relations:relations' %}">Relations tree</a>        
      <a href="{% url 'elements:elements' element='competences' %}">Competences</a>
      <a href="{% url 'elements:elements' element='capabilities' %}">Capabilities</a>                
      <a href="{% url 'elements:elements' element='processes' %}">Processes</a>
      <a href="{% url 'evaluations:evaluations' %}">Evaluations</a>
      <a href="{% url 'companies:companies' %}">Companies</a>   
      <a href="#">Administration</a>   
      <a class="last" href="{% url 'logout' %}">Log out</a>
      <a class="last" href="{% url 'password_reset' %}">Reset Password</a>
   </div>
{% endif %}

















