<!-- ----- Imports ----- -->
{% load static %}



<!-- ----- Html ----- -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">      
      <link rel="stylesheet" href="{% static 'css/delete_eva.css' %}">
   </head>


   <!-- ----- Body ----- -->
   <body>
      <div id="div_modal_delete">
         <div id="div_modal_content">
            <div>
               <label style="display:block">Company:</label>               
               <label style="display:block; margin-top:1rem">Relation:</label>
            </div>

            <hr>

            <div>
               <label>Are you sure you want to delete the evaluation?</label>
            </div>

            <hr>

            <div>
               <label id="label_close_delete">Close</label>
               <label id="label_delete_delete">Delete</label>
            </div>
         </div>
      </div>
   </body>
</html>