:root {
   --brown_100: rgba(255, 210, 128, 1);
   --brown_80: rgba(255, 210, 128, 0.8);
   --brown_60: rgba(255, 210, 128, 0.6);
   --brown_40: rgba(255, 210, 128, 0.4);
   --brown_20: rgba(255, 210, 128, 0.2);
   --contrast_100: rgba(179, 141, 90, 1);
   --contrast_80: rgba(179, 141, 90, 0.8);
   --contrast_60: rgba(179, 141, 90, 0.6);
   --contrast_40: rgba(179, 141, 90, 0.4);
   --contrast_20: rgba(179, 141, 90, 0.2);
   --green_100: rgba(56, 142, 60, 1);
   --green_80: rgba(56, 142, 60, 0.8);
   --green_60: rgba(56, 142, 60, 0.6);
   --green_40: rgba(56, 142, 60, 0.4);
   --green_20: rgba(56, 142, 60, 0.2);}