<!-- ----- Imports ----- -->
{% load static %}


<!-- ----- Html ----- -->
<!DOCTYPE html>
<html lang="en">
   <!-- ----- Head ----- -->
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">      
      <title>Additional information</title>      
   </head>


   <!-- ----- Body ----- -->
   <body>
      <div id="div_modal">
         <div id="div_modal_content">
            <div id="div_modal_name">
               <div>
                  <label>Name</label>                  
                  <textarea id="txt_name" disabled></textarea>
               </div>
               
               <div>
                  <label>Country</label>                  
                  <textarea id="txt_country" disabled></textarea>
               </div>                                             
            </div>   
            
            <div id="div_modal_city">
               <div>
                  <label>City</label>                  
                  <textarea id="txt_city" disabled></textarea>
               </div>

               <div>
                  <label style="text-align:center">Postal code</label>                  
                  <textarea style="text-align:center" id="txt_postal_code" disabled></textarea>
               </div>
               
               <div>
                  <label>Address</label>                                                
                  <textarea id="txt_address" disabled></textarea>
               </div>                              
            </div>       
            
            <div id="div_modal_eva_made">
               <div>
                  <label>Evaluations<br>made</label>
                  <input type="text" id="input_eva_made">
               </div>

               <div>
                  <label>Evaluations<br>in progress</label>
                  <input type="text" id="input_eva_progress">
               </div>

               <div>
                  <label>Year of<br>establishment</label>
                  <input type="text" id="input_year_establishment">
               </div>

               <div>
                  <label>Year of first<br>exportation</label>
                  <input type="text" id="input_year_first_expo">
               </div>

               <div>
                  <label style="text-align:center">Created</label>
                  <input style="text-align:center" type="text" id="input_created">
               </div>

               <div>
                  <label style="text-align:center">Updated</label>
                  <input style="text-align:center" type="text" id="input_updated">
               </div>
            </div>

            <div id="div_modal_industry">
               <div>
                  <label>Industry</label>                  
                  <textarea id="txt_industry" disabled></textarea>
               </div>

               <div>
                  <label>Supersector</label>                  
                  <textarea id="txt_supersector" disabled></textarea>
               </div>

               <div>
                  <label>Sector</label>                  
                  <textarea id="txt_sector" disabled></textarea>
               </div>

               <div>
                  <label>Subsector</label>                  
                  <textarea id="txt_subsector" disabled></textarea>
               </div>
            </div>

            <div id="div_modal_bussines_description">
               <div>
                  <label>Bussines description</label>                  
                  <textarea id="txt_bussines_description" disabled></textarea>
               </div>
               
               <div>
                  <label>Comments</label>
                  <textarea id="txt_comments" disabled></textarea>
               </div>
            </div>

            <div id="div_modal_close_label">
               <label id="label_close">Close</label>
            </div>
         </div>                  
      </div>
   </body>
</html>
